@use '../base/variables' as var;
@use '../base/typography' as typo;

.header {
    background-color: var.$primary-color;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-title {
        &-text {
            font-size: typo.$header-font-size;
            font-weight: typo.$header-font-weight;
        }
    }

    &-nav {
        &-user-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-user {
            display: inline-block;
            padding: 8px 16px;
        }

        &-link {
            display: inline-block;
            padding: 8px 16px;
            text-decoration: none;
            color: black;
            transition: all 0.3s ease;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}
