// Header
$header-font-size: 24px;
$header-font-weight: bold;
$header-nav-font-size: 14px;

// Users
$user-header-font-size: 32px;
$user-header-font-weight: bold;

// Input
$input-header-font-size: 24px;
$input-title-font-size: 12px;
$input-font-size: 14px;

// Button
$button-font-size: 16px;

// Team
$team-header-font-size: 24px;
$team-invite-font-size: 20px;

// Todo
$todo-title-font-size: 24px;
$todo-title-font-weight: bold;
$todo-text-font-size: 24px;

// Error Message
$error-font-size: 12px;

// Notice Message
$notice-font-size: 12px;
