// Primary Colors
$primary-color: #d9d9d9;

// Button Colors
$button-color-black: #000000;
$button-color-white: #ffffff;

// Link Colors
$link-color: #726666;

// Error Colors
$error-font-color: #f01e1e;

// Input Padding
$input-padding: 7px;

// Hover Animation
$hover-animation: all 0.3s ease;
