<% if notice %>
<div class="container">
  <div class="notice-message">
    <%= notice %>
  </div>
</div>
<% end %>
<% if alert %>
<div class="container">
  <div class="alert-message">
    <%= alert %>
  </div>
</div>
<% end %>